<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.ding.mapper.SKaoqinSumMapper">



    <select id="findAnsy" resultType="sDayDetailSum" parameterType="java.util.HashMap">
        select dd.*
        from s_day_detail_sum dd
        inner join k_user uu on dd.userid=uu.id
        where
        dd.work_date like CONCAT(#{parMap.workDate},'%')
        and
        <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
            uu.pay_place = #{item}
        </foreach>
    </select>

    <select id="selectIsUpdate" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select userid,is_update from s_day_detail_sum dd
        inner join k_user uu on dd.userid=uu.id
        where dd.work_date like CONCAT(#{parMap.workDate},'%')
        and
        <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
            uu.pay_place = #{item}
        </foreach>
    </select>


    <select id="findKDayDetailsSumByFlush" resultType="sDayDetailSum" parameterType="java.util.HashMap">
        select dd.dept_name,group_name,dd.jobnumber,userid,dd.position,uu.pay_place,uu.leave_type,uu.leave_reason_type,uu.name,count(*),user_type,dispatch_factory,work_date,
        sum(go_work_day_Bai) go_work_day_Bai,sum(go_work_day_ye) go_work_day_ye,sum(go_work_day_yebu) go_work_day_yebu,sum(go_work_day2)
        go_work_day2,sum(gongshi_base2) gongshi_base2,sum(jiaban2) jiaban2,sum(go_work_day_weekend2)
        go_work_day_weekend2,sum(jiaban_weekend2) jiaban_weekend2,sum(go_work_day_holiday_base) go_work_day_holiday_base, sum(jiaban_holiday_base) jiaban_holiday_base,
        sum(go_work_day_holiday2) go_work_day_holiday2, sum(jiaban_holiday2) jiaban_holiday2,
        sum(gongshi_base_zaotui) gongshi_base_zaotui,sum(gongshi_base_chidao)
        gongshi_base_chidao,sum(gongshi_base_kuang) gongshi_base_kuang,
        GROUP_CONCAT(distinct(form_component_value)) form_component_value,sum(form_nianjia)
        form_nianjia,sum(form_shijia) form_shijia,sum(form_bingjia) form_bingjia,sum(form_tiaoxiu)
        form_tiaoxiu,sum(form_chanjianjia) form_chanjianjia,sum(form_chanjia) form_chanjia,sum(form_peichanjia) form_peichanjia,
        sum(form_hunjia) form_hunjia,sum(form_lijia) form_lijia,sum(form_sangjia) form_sangjia,sum(form_burujia) form_burujia,
        sum(process_base_jiaban) process_base_jiaban,sum(process_weekend_jiaban)
        process_weekend_jiaban,sum(process_holiday_jiaban) process_holiday_jiaban,
        sum(buka_num) buka_num
        from k_day_detail dd
        inner join k_user uu on dd.userid=uu.id
        where 1=1
        <if test="parMap.userId!=null">
            and dd.userid =#{parMap.userId}
        </if>
        <if test="parMap.workDate!=null">
            and dd.work_date like CONCAT(#{parMap.workDate},'%')
        </if>
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        group by userid;
    </select>


    <select id="findKDayDetailsSum" resultType="sDayDetailSum" parameterType="java.util.HashMap">
        select dd.*,
        uu.name,uu.jobnumber,uu.position,uu.dept_name,uu.pay_place,uu.leave_type,uu.leave_reason_type
         from s_day_detail_sum dd
        inner join k_user uu on dd.userid=uu.id
        where
        dd.work_date like CONCAT(#{parMap.workDate},'%')
        <if test="parMap.deptIds!=null">
            and(
            <if test="parMap.deptIds.size>0">

                <foreach collection="parMap.deptIds" item="item" index="index" open="(" close=")" separator="or">
                    uu.dept_ids like concat('%',#{item},'%')
                </foreach>

            </if>
            <if test="parMap.deptIds.size>0 and parMap.userIds.size>0">
                or
            </if>
            <if test="parMap.userIds.size>0">
                <foreach collection="parMap.userIds" item="item" index="index" open="(" close=")" separator="or">
                    uu.id  = #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        <if test="parMap.payComputeTypes!=null">
            and
            <foreach collection="parMap.payComputeTypes" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_compute_type = #{item}
            </foreach>
        </if>
        order by uu.dept_name,uu.jobnumber
        <if test="!parMap.isAll">
            limit #{parMap.pageNum},#{parMap.size}
        </if>
    </select>

    <select id="countKDayDetailsSum"  resultType="java.lang.Long"  parameterType="java.util.HashMap">
        select count(*) from s_day_detail_sum dd
        inner join k_user uu on dd.userid=uu.id
        where
        dd.work_date like CONCAT(#{parMap.workDate},'%')
        <if test="parMap.deptIds!=null">
            and(
            <if test="parMap.deptIds.size>0">

                <foreach collection="parMap.deptIds" item="item" index="index" open="(" close=")" separator="or">
                    uu.dept_ids like concat('%',#{item},'%')
                </foreach>

            </if>
            <if test="parMap.deptIds.size>0 and parMap.userIds.size>0">
                or
            </if>
            <if test="parMap.userIds.size>0">
                <foreach collection="parMap.userIds" item="item" index="index" open="(" close=")" separator="or">
                    uu.id  = #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        <if test="parMap.payComputeTypes!=null">
            and
            <foreach collection="parMap.payComputeTypes" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_compute_type = #{item}
            </foreach>
        </if>
    </select>

    <select id="noKaoqinUser" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select uu.id,uu.name from k_day_detail dd
        inner join k_user uu on dd.userid=uu.id
        where
        dd.group_name='无需打卡组'
        <if test="parMap.workDate!=null">
            and dd.work_date like CONCAT(#{parMap.workDate},'%')
        </if>
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        group by uu.id
    </select>

    <select id="findDayCount" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select IFNULL(dd.go_work_day_bai,0)+IFNULL(dd.go_work_day_ye,0) monthCount,
        uu.id,uu.name,uu.jobnumber,uu.position,uu.dept_name,uu.pay_compute_type
        from s_day_detail_sum dd
        inner join k_user uu on dd.userid=uu.id
        where
        dd.work_date like CONCAT(#{parMap.workDate},'%')
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
    </select>

    <select id="findKClass" resultType="java.util.HashMap" parameterType="java.util.HashMap">
         select * from k_class where name=#{dept_name}
    </select>
    <select id="findDayDetailbyEat" resultType="java.util.HashMap" parameterType="java.util.HashMap">
         select * from k_day_detail
         where work_date like CONCAT(#{parMap.workDate},'%')
         and dept_name like concat(#{dept_name},'%') and class_name=#{class_name}
    </select>
</mapper>
