<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.ding.mapper.SOaTeamMapper">
    
    <select id="selectIsUpdate" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select id,is_update  from s_oa_team
        where work_date like CONCAT(#{parMap.workDate},'%')
    </select>

    <select id="findAll" resultType="sOaTeam" parameterType="java.util.HashMap">
        select aa.*,uu.name dd_name
        from s_oa_team aa
        left join k_user uu on uu.jobnumber=aa.jobnumber
        where (uu.state is null or uu.state = 0) and
        aa.work_date like CONCAT(#{parMap.workDate},'%')
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        <if test="parMap.payComputeTypes!=null">
            and
            <foreach collection="parMap.payComputeTypes" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_compute_type = #{item}
            </foreach>
        </if>
        order by aa.work_date desc
        <if test="!parMap.isAll">
            limit #{parMap.pageNum},#{parMap.size}
        </if>
    </select>

    <select id="findAllCount" resultType="java.lang.Long" parameterType="java.util.HashMap">
        select count(*)
        from s_oa_team aa
        left join k_user uu on uu.jobnumber=aa.jobnumber
        where (uu.state is null or uu.state = 0) and
        aa.work_date like CONCAT(#{parMap.workDate},'%')
        <if test="parMap.payPlaces!=null">
            and
            <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_place = #{item}
            </foreach>
        </if>
        <if test="parMap.payComputeTypes!=null">
            and
            <foreach collection="parMap.payComputeTypes" item="item" index="index" open="(" close=")" separator="or">
                uu.pay_compute_type = #{item}
            </foreach>
        </if>
    </select>

    <select id="oaTeamAnsy" resultType="java.util.Map" parameterType="java.util.HashMap">
        select uu.id,piece_rate
        from s_oa_team aa
        inner join k_user uu on uu.jobnumber=aa.jobnumber
        where uu.state = 0 and
        aa.work_date like CONCAT(#{parMap.workDate},'%')
        and
        <foreach collection="parMap.payPlaces" item="item" index="index" open="(" close=")" separator="or">
            uu.pay_place = #{item}
        </foreach>
        group by uu.jobnumber
    </select>

</mapper>
